{% extends "network/layout.html" %}

{% block body %}

    <h2 class="heading-2">Following</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if page_obj.object_list|length > 0 %}
            {% for data in page_obj %}
                {% include 'network/blog_post_card.html' %}
            {% endfor %}
            {% include 'network/pagination.html' %}
        {% else %}
            <p>You are not following anyone yet.</p>
        {% endif %}
        
    {% endif %}
{% endblock %}