{% extends "network/layout.html" %}

{% block body %}
    <h2 class="heading-2">All Posts</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="blog-post border rounded text-left">
            <form action="{% url 'post' %}" method="post">
                {% csrf_token %}
                <label class="font-weight-bold" for="new-post">New Post</label>
                <div class="form-group">
                    <textarea class="form-control" name="post" required></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    {% for data in page_obj %}
        {% include 'network/blog_post_card.html' %}
    {% endfor %}

    {% include 'network/pagination.html' %}
{% endblock %}
