{% extends "network/layout.html" %}

{% block body %}
    <h2 class="heading-2">{{ user_profile_name }}</h2>

    {% if user.is_authenticated %}
        {% if user != user_profile_name %}
            <button class="btn btn-primary w-25">Follow</button>
        {% endif %} 
    {% endif %}
    
    <div class="d-flex justify-content-center mt-2">
        <p class="mr-3">0 followers</p>
        <p>0 following</p>
    </div>
    {% for data in posts %}
        {% include 'network/blog_post_card.html' %}
    {% endfor %}
{% endblock %}
