.heading-2 {
    margin-top: 8px;
}

.blog-post {
    padding: 10px;
}

.edit-post {
    color: dodgerblue;
}

.edit-post:hover, .heart-icon:hover  {
    cursor: pointer;
}

.gray-color {
    color: gray;
}
